$drawer_dark: #3F51B5;
$drawer_light: #3949AB;

md-sidenav[md-component-id="drawer"] {
  min-width: 256px;

  .drawer-header {
    background-color: $drawer_dark;

    & + .drawer-menu md-menu-content {
      padding: 0;
    }
  }

  .drawer-avatar img {
    border-radius: 50%;
    width: 128px;
    height: 128px;
  }
}

#site-layout {
  min-height: 100vh;
}
